[submodule "talha/public"]
	path = talha/public
	url = https://github.com/Talha-Altair/talha.github.io.git
	branch = main
[submodule "talha/public2"]
	path = talha/public2
	url = git@github.com:Talha-Altair/talha.github.io.git
	branch = main
[submodule "talha/themes/freshstart"]
	path = talha/themes/freshstart
	url = https://github.com/rz3n/hugo-theme-freshstart.git
[submodule "talha/themes/hugo-tanka"]
	path = talha/themes/hugo-tanka
	url = https://github.com/nanxstats/hugo-tanka.git
[submodule "talha/talha/themes/contrast-hugo"]
	path = talha/talha/themes/contrast-hugo
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "talha/themes/Niello"]
	path = talha/themes/Niello
	url = https://github.com/guangmean/Niello.git
[submodule "talha/themes/potato-dark"]
	path = talha/themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark
